body{
	background-color:#f4f4f4;
	color:#555555;
	font-family:verdana;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.container{
	width:80%;
	margin:0;
	overflow:hidden;

}

#main-header{
	background: url('../images/crew.jpg');
	background-repeat: no-repeat;
	background-position: center;
	text-align:center;
	height:530px;

}

h1{
	color:white;
	font-family: 50px, serif;
	 text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#navbar{
	background-color:#2a2a2a;
	color:black;
}

#navbar ul{
	padding:10px;
	list-style: none;
}

#navbar li{
	display:inline;
}

#navbar a{
	color:#fff;
	text-decoration: none;
	font-size: 18px;
	padding-right:15px;
}

.block{

	float:left
	width:33,3%;
	border:1px solid #ccc;
	padding:10;
	box-sizing:border-box;

}

#sidebar{
	margin:20px;
	float:left;
	background-color:#f4f4f4;
	
}

.section h4{
	padding-top:50px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

section{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}